<app-sidebar></app-sidebar>
<div class="container1">
  <div class="row mt-3 pt-5">
    <div class="col">
    </div>
    <div class="col-md-8 col-lg-9 col-xl-10">
      <div class="container psxl-5 ms-xl-0">
        <div class="card bg-light col-12 col-xl-12 mt-5" style="max-width: 100%;">
          <div class="card-header">Oportunidades de Negocio</div>
          <div class="card-body d-flex justify-content-between">
            <div class="card bg-secondary col-12 col-xl-12" style="max-width: 100%;">
              <div class="card-header d-flex">
                <div class="me-auto mt-2">Estas son las oportunidades de negocio que has creado:</div>
                <div class="ms-auto">
                  <button type="button" class="boton1 btn-outline-success" (click)="open(mymodal5)">Crear Oportunidad de Negocio</button>
                </div>
              </div>
              <div class="card-body">
                <div class="card-text d-flex justify-content-between  col-12">
                  <table class="table table-hover">
                    <thead>
                      <tr class="table-secondary">
                        <th scope="col">UUID</th>
                        <th scope="col">Nombre Contacto</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Contacto Empresa Cliente </th>
                        <th scope="col">Nombre de Oportunidad</th>
                        <th scope="col">Monto</th>
                        <th scope="col">estado</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light " style="vertical-align: middle;">
                        <td>123456</td>
                        <td>Andres</td>
                        <td>Coke </td>
                        <td>Camilo</td>
                        <td>Oportunidad 1</td>
                        <td>120000</td>
                        <td>En Proceso</td>
                        
                        <td class="d-flex justify-content-end"><button type="button"
                            class="boton1 btn-outline-warning m-2 ">Editar</button>
                          <button type="button" class="boton1 btn-outline-danger m-2 ">Eliminar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #mymodal5 let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <h4 class="modal-title text-center fw-bolder" id="modal-basic-title">Crear Oportunidad de Negocio</h4>
  <div class="modal-body">
    <form>
      <fieldset>
        <div class="form-group">
          <label for="select_contact" class="form-label mt-4">Selecciona un contacto</label>
          <select   class="form-select" formControlName="select_contact"  id="select_contact"  >
            <option >andres</option>
            <option >diego</option>
            <option >daniela</option>
            <option >camilo</option>
          </select>
        </div>
        <div class="form-group">
          <label for="uuid" class="form-label ps-1 pt-2">UUID</label>
          <input formControlName="uuid" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="selected_enterprise" class="form-label mt-4">Selecciona una empresa</label>
          <select  class="form-select" id="selected_enterprise" formControlName="selected_enterprise" >
            <option >Empresa 1</option>
            <option >Empresa 2</option>
            <option >Empresa 3</option>
          </select>
        </div>
        <div class="form-group">
          <label for="selected_enterprise_client" class="form-label mt-4">Selecciona un contacto de la empresa cliente</label>
          <select  class="form-select" id="selected_enterprise_client" formControlName="selected_enterprise_client" >
            <option >Contacto 1</option>
            <option >Contacto 2</option>
            <option >Contacto 3</option>
          </select>
        </div>
        <div class="form-group">
          <label for="business_opportunity_name" class="form-label ps-1 pt-2">Nombre de la Oportunidad de Negocio</label>
          <input formControlName="uuid" type="text" class="form-control" formControlName="business_opportunity_name">
        </div>
        <div class="form-group">
          <label for="business_opportunity_price" class="form-label ps-1 pt-2">Monto total de la Oportunidad de Negocio</label>
          <input formControlName="uuid" type="number" class="form-control" formControlName="business_opportunity_price">
        </div>
        <div class="form-group">
          <label for="selected_state" class="form-label mt-4">Selecciona un estado</label>
          <select  class="form-select" id="selected_state" formControlName="selected_enterprise_client" >
            <option >En Proceso</option>
            <option >Ganada</option>
            <option >No ganada</option>
            <option >Cancelada(descartada)</option>
          </select>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancel click')">Cancelar</button>
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Crear</button>
  </div>
</ng-template>
