<app-sidebar></app-sidebar>
<div class="row mt-3 pt-5">
  <div class="col">

  </div>
  <div class="col-md-8 col-lg-9 col-xl-10">

    <div class="container ps-xl-5 ms-xl-2 justify-content-center text-center">
      <!-- SI EL USUARIO ACTUAL NO HA CREADO UNA EMPRESA PROPIETARIA
         SE MUESTRA ESTE DIV     
        -->


      <p class="mt-5 pt-3">
        Parece que aun no has creado una empresa
      </p>
      <button class="btn btn-outline-primary" (click)="open(mymodal)">Agregar Empresa</button>
    </div>
    <div class="container psxl-5 ms-xl-2">
      <!-- SI EL USUARIO ACTUAL NO HA CREADO UNA EMPRESA PROPIETARIA
        SE MUESTRA ESTE DIV CON UN CARD CON LA INFO DE LA EMPRESA -->

    </div>
  </div>
</div>


<ng-template #mymodal let-modal>
  <div class="modal-header">
    
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <h4 class="modal-title text-center fw-bolder" id="modal-basic-title">Nueva Empresa</h4>

  <div class="modal-body">
    
    <form id="enviar_form" [formGroup]="enterprisesForm" (ngSubmit)="crearEmpresa()" class="mx-2 pb-2">
        <fieldset>
            <div class="form-group">
                <label for="nit" class="form-label ps-1 pt-2">Nit</label>
                <input formControlName="nit" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="name" class="form-label ps-1 pt-2">Nombre</label>
                <input formControlName="name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="comercial_name" class="form-label ps-1 pt-2">Nombre Comercial</label>
                <input formControlName="comercial_name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="address" class="form-label ps-1 pt-2">Address</label>
                <input formControlName="address" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="phone_number" class="form-label ps-1 pt-2">Teléfono</label>
                <input formControlName="phone_number" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="email" class="form-label ps-1 pt-2">Correo</label>
                <input formControlName="email" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="website" class="form-label ps-1 pt-2">Página Web</label>
                <input formControlName="website" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="country" class="form-label ps-1 pt-2">País</label>
                <input formControlName="country" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="state" class="form-label ps-1 pt-2">Departamento</label>
                <input formControlName="state" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="city" class="form-label ps-1 pt-2">Ciudad</label>
                <input formControlName="city" type="text" class="form-control">
            </div>
        </fieldset>
    </form>
      <!-- ACA VA EL FORMULARIO XD -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancelar</button>
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">Guardar</button>
  </div>
  

</ng-template>
